*{
    list-style: none;
    /* display: flex; */
}

.main-head{    
margin-top: 0;
padding: 20px;
text-align: center;
background-color: aqua;
}
.list{
    /* display: contents; */
    border: 5px solid aqua;
border-radius: 30px;
width: 500px;
background-color: black;
color: #fff;
}

#btns{
    margin-top: 5px;
    padding:10px;
    /* margin: 10px; */
    height:80px;
    width: 1100px;
    border: 10px solid black;
}
.btn{
    border: 5px solid aqua;
    border-radius: 30px;
    font-size: x-large;
    background-color: black;
    color: #fff;
}